@model EncryptionModel

@{
    ViewBag.Title = "DES Encryption Example";
}

<h2> DES Encryption</h2>


@if (!string.IsNullOrEmpty(Model.Key) && TempData["EmptyTextToEncrypt"] != null)
{
    <div class="alert alert-danger">
        @TempData["EmptyTextToEncrypt"]
    </div>
}

@if (!string.IsNullOrEmpty(Model.Key) && TempData["EmptyEncryptedText"] != null)
{
    <div class="alert alert-danger">
        @TempData["EmptyEncryptedText"]
    </div>
}


@using (Html.BeginForm("DesEncryption", "Encryption", FormMethod.Post))
{
    <div>

        <label>Text to Encrypt:</label>
        @Html.TextBoxFor(m => m.TextToEncrypt)
    </div>
    <div>
        <label>Key (8 characters):</label>
        @Html.TextBoxFor(m => m.Key)
    </div>
    <div>
        <label>Key (8 characters):</label>
        @Html.TextBoxFor(m => m.Key2)
    </div>
    <div>
        <label>Key (8 characters):</label>
        @Html.TextBoxFor(m => m.Key3)
    </div>
    <div>
        <br />
        <input class="btn btn-primary" type="submit" value="Encrypt" />
    </div>
    <br />
}

@* @if (!string.IsNullOrEmpty(Model.EncryptedText))
{
    <div>
        <h4>Encrypted Text:</h4>
        <p>@Model.EncryptedText</p>
    </div>
} *@

@using (Html.BeginForm("DesDecryption", "Encryption", FormMethod.Post))
{
    <div>
        @Html.HiddenFor(m => m.TextToEncrypt)
    </div>
    <div>
        @Html.HiddenFor(m => m.encryptionResult.encrypted1)
    </div>
    <div>
        <label>Encrypted Text:</label>
        @Html.TextBoxFor(m => m.EncryptedText)
    </div>
    <div>
        <label>Key (8 characters):</label>
        @Html.TextBoxFor(m => m.Key)
    </div>
    <div>
        <label>Key (8 characters):</label>
        @Html.TextBoxFor(m => m.Key2)
    </div>
    <div>
        <label>Key (8 characters):</label>
        @Html.TextBoxFor(m => m.Key3)
    </div>
    <div>
        <br />
        <input class="btn btn-primary" type="submit" value="Decrypt" />
    </div>
}


@if(!string.IsNullOrEmpty(Model.encryptionResult.encrypted1)
&& !string.IsNullOrEmpty(Model.encryptionResult.decrypted1) && 
!string.IsNullOrEmpty(Model.encryptionResult.finaltext))
{
       
    <br/> 
    <h5> Encryptions(EDE) Results </h5>
    <div> 
        <h7> Original Text : @Model.TextToEncrypt </h7> <br />
        <h7> CipherText 1 : @Model.encryptionResult.encrypted1 </h7> <br /> 
        <h7> CipherText 2 : @Model.encryptionResult.decrypted1 </h7><br />
        <h7> Final CipherText : @Model.encryptionResult.finaltext </h7>
    </div>
}
@if (!string.IsNullOrEmpty(Model.decryptionResult.decrypted1)
&& !string.IsNullOrEmpty(Model.decryptionResult.encrypted1) &&
!string.IsNullOrEmpty(Model.decryptionResult.finaltext))
{

    <br />
    <h5> Decryption(DED) Results </h5>
    <div>
        <h7> CipherText to Decrypt : @Model.EncryptedText </h7> <br/> 
        <h7> CipherText 2 : @Model.decryptionResult.decrypted1 </h7> <br />
        <h7> CipherText 3 : @Model.decryptionResult.encrypted1 </h7><br />
        <h7> Original Text : @Model.decryptionResult.finaltext </h7>
    </div>
}


@if (!string.IsNullOrEmpty(Model.DecryptedText))
{
    <br />
   
    <div>
        <h4>Decrypted Text:</h4>
        <p style="color:darkblue; background-color:lightgreen; width:fit-content"> @Model.DecryptedText</p>
       
    </div>
}
@*
@if (!ViewData.ModelState.IsValid)
{
    <div style="color: red;">
        @Html.ValidationSummary()
    </div>
} *@