@model RSAModel

<div>

@if (TempData["SubmitPublicKeyFromClientsuccess"] != null)
{
    <div class="alert alert-success">
        @TempData["SubmitPublicKeyFromClientsuccess"]
    </div>
}





<div style="position:center ; text-align:center">

    @using (Html.BeginForm("RsaEncrypt", "Encryption", FormMethod.Post))
    {
        <div>
            <h2> RSA Algorithm </h2>
            <input type="hidden" name="privateKey" value="@Model.privateKeygeneration" />
            <input type="hidden" name="publicKey" value="@Model.publicKeygeneration" />

            <label>Text to Encrypt:</label>
            <input type="text" name="model.RSAencryption.Text" placeholder="Enter Text" value="@Model.RSAencryption.Text" />
            @*   @Html.TextBoxFor(m => m.RSAencryption.Text) *@
        </div>
        <div>
            <label>Public Key:</label>
            <input type="text" name="model.RSAencryption.UserInputKey" placeholder="Enter Public Key" />
            @*   @Html.TextBoxFor(m => m.RSAencryption.PublicKey) *@
        </div>
        <div>
            <br />
            <input type="hidden" name="client" value="client1" />
            <input class="btn btn-primary" type="submit" value="Encrypt" />
            <input class="btn btn-info" type="submit" asp-controller="Encryption" asp-action="GenerateKeyforClient1" value="Generate Keys" />
        </div>
        <br />

    }

    @* digital signature  *@


    @using (Html.BeginForm("SignMessage", "Encryption", FormMethod.Post))

    {

        <h6> Create Signature </h6>
        <h7> Text </h7>  <input type="text" name="message" value="@Model.RSAencryption.Text" /> <br />
        <h7> Private Key</h7> <input type="text" name="privateKey" value="" /> <br />
        <input type="hidden" name="publicKey" value="@Model.RSAencryption.PublicKey" />
        @* <h7> Encrypted Text </h7>  *@
        <input type="hidden" name="hexString" value="@Model.RSAencryption.HexString" />

        <br />


        <input class="btn btn-primary" type="submit" value="Create" />


    }

    @using (Html.BeginForm("VerifySignature", "Encryption", FormMethod.Post))

    {

        <br />
        <div>
            <h6> Decrypt Text &  Verify Signature </h6>

            <h7> CipherText </h7> <textarea type="text" name="model.RSAencryption.HexString" value="@Model.RSAencryption.HexString" placeholder="Add CipherText" cols="50"> @Model.RSAencryption.HexString  </textarea> <br />
            <h7> Private Key </h7>  <input type="text" name="privateKey" placeholder="Enter private key to decrypt cipher"  size="30" /> <br /> <br />
            <h7> Signature </h7>  <textarea type="text" name="model.Signature" value="@Model.Signature" cols="50"> @Model.Signature </textarea>  <br />
            <h7> Public Key</h7> <input type="text" name="publicKey" value="" placeholder="Enter public key to verify signature" size="30" />  <br /> <br />
            <input type="hidden" name="model.RSAencryption.PublicKey" value="@Model.RSAencryption.PublicKey" />
            <input type="hidden" name="model.RSAencryption.PrivateKey" value="@Model.RSAencryption.PrivateKey" /> <br />

            @if( !string.IsNullOrEmpty(Model.HashOutput))
            {
             <h7> Hash </h7>   <input type="text" name="model.HashOutput" value="@Model.HashOutput" placeholder="Add Signature" /> <br />
            }
            @if (Model.DisplayDecryptedTextInTextBox)
            {
                <h7> Original Text </h7>  <input type="text" name="model.RSAdecryption.DecryptedText" value="@Model.RSAdecryption.DecryptedText" placeholder="Enter original text" /> <br /> <br />
            }
            <input class="btn btn-primary" type="submit" asp-controller="Encryption" asp-action="RsaDecrypt" value="Decrypt CipherText" />

            <input class="btn btn-primary" asp-controller="Encryption" asp-action="HashText" type="submit" value="Hash" />
            <input class="btn btn-primary" type="submit" value="Verify Signature" />

        </div>

    }

    @if (!string.IsNullOrWhiteSpace(Model.Signature) && Model.DisplaySignature)
    {
        <br />
        <h6> Signature(Hex) : @Model.Signature </h6>
    }



    </div>

    @* decrypt *@

    @*   @using (Html.BeginForm(FormMethod.Post))
    {

    <div style="text-align:center; height:initial">
    <div>

    <h4>Decrypt</h4>

    </div>


    <input type="hidden" name="client" value="client1" />


    <input type="hidden" name="OriginalText" value="@Model.RSAencryption.Text" />
    <H7> CipherText(Hex)</H7> @Html.TextBoxFor(m => m.RSAencryption.HexString, new { Name = "encryptedText" })<br />
    <h7> Private Key </h7>  <input type="text" name="key" placeholder="Enter key" /> <br /> <br />
    <input class="btn btn-primary" type="submit" asp-controller="Encryption" asp-action="RsaDecrypt" value="Decrypt" />
    <input class="btn btn-info" type="submit" asp-controller="Encryption" asp-action="GenerateKeyforClient1" value="Generate Keys" />
    </div>

    } *@
    </br>

    @if (Model.RSAdecryption != null)
    {
        if (!string.IsNullOrWhiteSpace(Model.RSAdecryption.DecryptedText))
        {
            <div style="text-align:left; height:auto">
                <h4> CipherText(Hex) </h4>
                <p style="color:darkblue; text-align:left;width:auto"> @Model.RSAdecryption.EncryptedText</p>
                <h4>Original Text</h4>
                <p style="color:darkblue; text-align:left;width:auto"> @Model.RSAdecryption.DecryptedText</p>

            </div>

        }
    }
</div>
<br />
<div>
    @if (!string.IsNullOrEmpty(Model.HashOutput))
    {
        <h6>  Hash : @Model.HashOutput </h6> <br/>
    }
</div>



<div>

    @if(Model.VerifiedSignature == RSAModel.VerifiedSign.YES)
    {
        <h6 style="color:purple"> Verified Signature : <h6 style="color:forestgreen">  Yes </h6> </h6>
    }else @if(Model.VerifiedSignature == RSAModel.VerifiedSign.NO)
    {
        <h6 style="color:purple"> Verified Signature :  <h6 style="color:red"> N0 </h6> </h6>
    } 
    else
    {
        <h6 style="color:purple"> Verified Signature :  <h6 style="color:red"> N/A </h6> </h6>
    }
    <br />
</div>


<div style="text-align:left">

    @if (!string.IsNullOrWhiteSpace(Model.RSAencryption?.HexString))
    {
        <h7> <h6><b> Encrypted </b> </h6>  @Model.RSAencryption.HexString </h7> <br /><br/>
    }
    @if (!string.IsNullOrEmpty(Model.RSAencryption.PrivateKey) && !string.IsNullOrEmpty(Model.RSAencryption.PublicKey))
    {
        <h7> <h6> <b> Public key </b>  </h6><textarea id="TextToCopy1" style="height:200px ; width:700px" readonly> @Model.RSAencryption.PublicKey </textarea> </h7>
        <button class="copyButton" onclick="copyTextToClipboard()" data-clipboard-target="#TextToCopy1"> &#x1f4cb; Copy </button> 
          <span id="copyMessage1" style="display:none; color:green; margin-left: 10px;">Text copied!</span> <br/> <br/>


        <h7> <h6> <b> Private key </b>  </h6> <textarea id="TextToCopy2" style="height:200px ; width:700px" readonly>  @Model.RSAencryption.PrivateKey </textarea> </h7>
          <button class="copyButton" onclick="copyTextToClipboard()" data-clipboard-target="#TextToCopy2"> &#x1f4cb; Copy </button>
            <span id="copyMessage2" style="display:none; color:green; margin-left: 10px;">Text copied!</span>

    }


</div>

<div style="text-align:left">


    @if (!string.IsNullOrEmpty(Model.publicKeygeneration) && !string.IsNullOrWhiteSpace(Model.privateKeygeneration))
    {

        <br />
        <h7> <h6><b> Public key </b> </h6><textarea id="TextToCopy1" style="height:200px ; width:700px" readonly> @Model.publicKeygeneration </textarea> </h7> 
          <button class="copyButton" onclick="copyTextToClipboard()" data-clipboard-target="#TextToCopy1"> &#x1f4cb; Copy </button> 
          <span id="copyMessage1" style="display:none; color:green; margin-left: 10px;">Text copied!</span> <br/> <br/>

        <h7><h6><b> Private Key </b> </h6> <textarea id="TextToCopy2" style="height:200px ; width:700px" readonly>  @Model.privateKeygeneration > </textarea>
            <button class="copyButton" onclick="copyTextToClipboard()" data-clipboard-target="#TextToCopy2"> &#x1f4cb; Copy </button>
            <span id="copyMessage2" style="display:none; color:green; margin-left: 10px;">Text copied!</span>

        </H7>
    }
</div>

<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>

<script>
    // Initialize Clipboard.js for all copy buttons
    var clipboard = new ClipboardJS('.copyButton');

    // Show message when the text is successfully copied
    clipboard.on('success', function(e) {
        // Show the "Text copied!" message for the relevant textarea
        var targetId = e.trigger.getAttribute('data-clipboard-target'); // Get the target textarea's ID
        var messageElement = document.getElementById("copyMessage" + targetId.charAt(targetId.length - 1)); // Get the corresponding message span
        messageElement.style.display = 'inline'; // Show the message

        // Hide the message after 2 seconds
        setTimeout(function() {
            messageElement.style.display = 'none';
        }, 2000);

        e.clearSelection(); // Clear the text selection
    });

    clipboard.on('error', function(e) {
        console.error("Error copying text.");
    });
</script>